
    {{>header}}


    <div class="body-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#eventos">Eventos</a></li>
            <li><a data-toggle="tab" href="#reservas">Reservas</a></li>
        </ul>
        <div class="divider mt-0" style="margin-bottom: 30px"></div>
    </div>
    <div class="tab-content">
        <div id="eventos" class="tab-pane fade in active">
            <div class="add-event-btn-container">
                <a class="mb-2 mr-2 btn-transition btn btn-outline-focus" href= '/Event-Adder'><i class="fas fa-plus-circle"></i>Añadir Evento</a>
            </div>
            <div class="event">
                <div class="divider mt-0" style="margin-bottom: 30px"></div>
                <ul>{{#events}}
                    <li class="event-wrap">
                        <div class="card widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        {{#name}}
                                        <div class="widget-heading">{{name}}</div>
                                        {{/name}}
                                        {{^name}}
                                        <div class="widget-heading">Sin nombre</div>
                                        {{/name}}
                                        <div class="widget-subheading">
                                            {{#date}}
                                            <i class="fas fa-calendar"></i> {{date}}
                                            {{/date}}
                                            {{^date}}
                                            <i class="fas fa-calendar"></i> Sin Fecha
                                            {{/date}}
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-success">
                                            {{likes}} <i class="fas fa-heart"></i>
                                            <button
                                                class="btn-transition btn btn-outline-danger left-margin" onclick="location.href= '/admin/event-edit?id={{id}}';">Editar</button>
                                            <button class="btn-transition btn btn-outline-danger left-margin"
                                                onclick="location.href= '/admin/graph-event?id={{id}}';">Gráficos</button>
                                            <button class="btn-transition btn btn-outline-danger left-margin"
                                                onclick="location.href= '/admin/delete-event?id={{id}}'">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/events}}
                    {{^events}}
                    <p>Sin eventos</p>
                    {{/events}}
                </ul>
            </div>
        </div>
        <div id="reservas" class="tab-pane">
            <div class="add-event-btn-container">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-focus"
                    onclick="location.href= '/admin/graph-tables'">Gráficos <i class="fa fa-bar-chart"></i></button>
            </div>
            <div class="event">
                <div class="divider mt-0" style="margin-bottom: 30px"></div>
                <ul>{{#reservations}}
                    <li class="event-wrap">
                        <div class="card widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Código de referencia: {{referenced_code}}</div>
                                        <div class="widget-subheading">
                                            <i class="fas fa-calendar"></i> {{date}}
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-content">
                                            <i class="fab fa-playstation"></i>
                                            <button class="btn-transition btn btn-outline-danger left-margin"
                                                onclick="location.href= '/admin/delete-reservation?id={{id}}'">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/reservations}}
                    {{^reservations}}
                    <p>Sin reservas</p>
                    {{/reservations}}
                </ul>
            </div>
        </div>
    </div>


   {{>footer}}
