
{{>header}}
    <div class="body__overlay"></div>

        <!-- Start Login Register Area -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="login__register__menu" role="tablist">
                        <li role="presentation" class="login active"><a id = "eProfile"href="" role="tab"
                                data-toggle="tab">Perfil</a></li>
                        <li role="presentation" class="register"><a id = "ePass" href="" role="tab"
                                data-toggle="tab">Contraseña</a></li>
                    </ul>
                </div>
            </div>
            <!-- Start Login Register Content -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="">
                        <!-- Start Single Content -->
                        <div id="editProfile" role="tabpanel" clas="single__tabs__panel">
                            <form class="login" method="post" action="/editProfile" enctype="multipart/form-data">
                                <input class="mb-4" type="text" placeholder="{{Name}}" name="name">
                                <input type="text" placeholder="{{Surname}}" name="surname">
                                <input type='file' name='image' accept=".jpg, .jpeg" />
                                <input type='submit' value='Guardar' />
                            </form>
                        </div>
                        <!-- End Single Content -->
                        <!-- Start Single Content  class=" tab-pane fade" -->
                        <div id="editPassword" role="tabpanel" class="single__tabs__panel" style="display:none;">
                            <form action="/editPassword" class="login" method="post">
                                <input type="password" placeholder="Contraseña*" name="password">
                                <input type="password" placeholder="Repite tu contraseña*" name="password_repeated">
                                <input type="password" placeholder="Contraseña nueva*" name="new_password">
                                <input type='submit' value='Guardar' />
                            </form>
                        </div>
                        <!-- End Single Content -->
                    </div>
                </div>
            </div>
            <!-- End Login Register Content -->
        </div>
   
    {{>footer}}

<script languague="javascript">
    editPicure= document.getElementById('editProfile');
    editPass = document.getElementById('editPassword');
    $("#eProfile").click(function() {
        editPicure.style.display= '';
        editPass.style.display = 'none'
    });

    $("#ePass").click(function(){
        editPicure.style.display= 'none';
        editPass.style.display = ''
    })
</script>