
    {{>header}}

    <div class="event">
        <div class="eventTitlePicture">
            <div class="eventTitle"><h1>{{name}}</h1></div>
            <div class="eventImage">
                
                <img src="{{bannerUrl}}" alt="G2 Team">
                
                
            </div>
        </div>
        
        <div class="eventDescription">
            {{#date}}
            <p>Fecha: {{date}}</p>
            {{/date}}
            <p>{{description}}</p>
        </div>
        <a href="/like?id={{id}}"><i class="fas fa-heart"></i></i></a>
        <button class="btn-transition btn btn-outline-danger left-margin" onclick="location.href= '/events/see-event?id={{id}}';">Ver</button>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px"></div>
    
    
    {{>footer}}