{{>header}}
<p id="pageSize" style="display: none;">3</p>
<div class="eventContainer">
    {{#events}}
    <div class="event">
        <div class="eventTitlePicture">
            <div class="eventTitle">
                <h1>{{name}}</h1>
            </div>
            <div class="eventImage">
                <img src="{{bannerUrl}}" alt="G2 Team">
            </div>
        </div>

        <div class="eventDescription">
            {{#date}}
            <p>Fecha: {{date}}</p>
            {{/date}}
            <p>{{description}}</p>
        </div>
        <a href="/like?id={{id}}"><i class="fas fa-heart"></i></i></a>
        <button class="btn-transition btn btn-outline-danger left-margin"
            onclick="location.href= '/events/see-event?id={{id}}';">Ver</button>
    </div>
    {{/events}}
</div>
    <button id="verMas">ver más</button>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        $("#verMas").click(function(){
            var elemento = document.getElementById("pageSize");
            elemento.innerHTML = parseInt(elemento.innerHTML) + 2
            $( ".eventContainer" ).load("https://localhost:8443/events?pageSize="+elemento.innerHTML+" .eventContainer" );
        });
    </script>


    {{>footer}}

    