
    {{>header}}
        <div class="body__overlay"></div>

        <!-- Start Login Register Area -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="login__register__menu" role="tablist">
                        <li role="presentation" class="login active"><a href="#editProfile" role="tab"
                                data-toggle="tab">Evento</a></li>
                    </ul>
                </div>
            </div>
            <!-- Start Login Register Content -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="htc__login__register__wrap">
                        <!-- Start Single Content -->
                        <div id="editProfile" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                            <form class="login" method="post" action="/createEvent">
                                <input type="text" placeholder="{{name}}" name="name">
                                <input type="text" placeholder="{{description}}" name="description">
                                <label for="description"> Pon las etiquetas separadas por /</label>
                                <input type="textarea" placeholder="{{labels}}" name="labels">
                                <label for="capacity"> Cantidad de aforo permitido(1-500): </label>
                                <input type="number" name="capacity" min="1" max="500" placeholder="{{capacity}}">
                                <label for="End"> Fecha de fin del evento: AAAA-MM-DD</label>
                                <input type="text" name="end" placeholder="{{date}}">
                                <!--<label for="myfile">Selecciona una imagen para promocionar el evento:</label>
                                     <input type='file' name='image' accept=".jpg, .jpeg"/> -->
                                <input type='submit' value='Guardar' />
                            </form>
                        </div>
                        <!-- End Single Content -->
                    </div>
                </div>
            </div>
            <!-- End Login Register Content -->
        </div>
    </div>
    <!-- End Login Register Area -->
    <!-- Start Footer Area -->
    {{>footer}}