
    {{>header}}

    <div class="event">
        <div class="divider mt-0" style="margin-bottom: 30px"></div>
        <ul>
            {{#events}}
            <li class="event-wrap">
                <div class="card widget-content">
                    <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                        {{#bannerUlr}}
                        <img class="event-images rounded-circle" src="{{bannerUrl}" alt="G2 Team">
                        {{/bannerUlr}}
                        <div class="widget-content-left">
                        <a class="widget-heading" href="/events/see-event?id={{id}}">{{name}}</a>
                        {{#date}}
                        <div class="widget-subheading">
                            <i class="fas fa-calendar"></i>  {{date}}
                        </div>
                        {{/date}}
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-success">
                                {{#likes}}
                                {{likes}}  <i class="fas fa-heart"></i>
                                {{/likes}}
                                <button class="btn-transition btn btn-outline-danger left-margin">Asistir</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
            {{/events}}
        </ul>     
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px"></div>
    
    
    {{>footer}}