<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ULTRA GAMING CENTER</title>
    <link rel="icon" href="/images/favicon.ico">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/widgets.css">
    <link rel="stylesheet" href="../css/login-register.css">
    <!-- scripts for icons -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- header icons js-->
    <script src="https://kit.fontawesome.com/7155903fc6.js" crossorigin="anonymous"></script>
</head>

<body>
<header id="header" class="htc-header header--3 bg__white">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                    <div class="logo">
                        <div class="logoImage">
                            <a href="/">
                                <img src="/images/logo/UGC1.png" alt="logo">
                            </a>
                        </div>

                        <div class="pagetTitle">
                    <h2 class="pageTitle-text"> | {{site}}</h1> 
                        </div>
                    </div>
                </div>
                <!-- Start MAinmenu Ares -->
                <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                    <nav class="mainmenu__nav hidden-xs hidden-sm">
                        <ul class="main__menu">
                            <li class="drop"><a href="/reservation"><i class="fas fa-desktop"></i> Mesas</a></li>
                            <li class="drop"><a href="/events"><i class="fas fa-gamepad"></i> Eventos</a></li>
                            <li><a href="/profile"><i class="fas fa-user-alt"></i> Perfil</a></li>
                            {{#admin}}
                            <li class="drop"><a href="/admin"> <i class="fas fa-tools"></i>Admin</a></li>
                            {{/admin}}
                            {{#isLogged}}
                            <li class="drop"><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                            {{/isLogged}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>