<app-header site="REGISTRO"></app-header>
<div style="background-color:rgb(252, 249, 251);">
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class=" pb-5">
                        <div class="row px-4 justify-content-center mt-0 mb-0"> 
                            <img src="../images/login/ps-controller.gif" width="500px" top=-30%> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2  px-4 py-5">
                        <form action="/register" method="post">
                            <div class="card2  px-4 py-5">
                                <div class="row mb-4 px-3">
                                    <h3 class="mb-0 mr-4 mt-2 title__line">Regístrate</h3>
                                </div>
                                <div class="row px-3"> 
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Nombre</h6>
                                    </label> 
                                    <input #name class="mb-4" type="text" name="name" id="name" placeholder="Pepito" required>
                                </div>
                                <div class="row px-3"> 
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Apellido</h6>
                                    </label> 
                                    <input #lastName type="text" name="lastName" id="lastName" placeholder="Marciano" required>
                                </div>
                                <div class="row px-3"> 
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">E-mail</h6>
                                    </label> 
                                    <input #email class="mb-4" type="text" name="email" id="email" placeholder="pepito@ejemplo.com" required>
                                </div>
                                <div class="row px-3"> 
                                    <label class="mb-1">
                                        <h6 class="mb-0 text-sm">Contraseña</h6>
                                    </label> 
                                    <input #password type="password" id="password" name="password" placeholder="* * * * * * * * *" required>
                                </div>
                                <div class="row mb-3 px-3">
                                    <button type="submit" (click)="Register($event, name.value, lastName.value, email.value, password.value)" class="btn btn-default">Sign Out</button>
                                </div>
                                <div class="row mb-4 px-3"> 
                                    <small class="font-weight-bold">¿Ya tienes una cuenta?
                                        <a class="text-danger"[routerLink]="['/login']">Inicia sesión</a>
                                    </small> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>